# This workflow run QA checks on the code

name: Run qa on the code

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

permissions:
  contents: read

jobs:
  qa:
    runs-on: ubuntu-latest

    steps:
      - uses: astral-sh/setup-uv@v7
      - uses: extractions/setup-just@v3
      - uses: actions/checkout@v4
      - name: Run tests
        run: just qa
